<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<%= render 'users/profile' ,user: current_user%>
			<%= render 'books/newform' ,book: @new_book %>

		</div>

		<div class="col-xs-9">
			<h2>Book detail</h2>
			<table class="table">
				<tr>
					<td>
						<%= link_to user_path(@book.user.id) do %>
						<%= attachment_image_tag(@book.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
						<%= @book.user.name %>
						<% end %>
					</td>
					<td><%= link_to @book.title, @book %></td>
					<td><%= @book.body %></td>
					<td>
						<%# いいね機能 %>
						<div id="favorites_buttons_<%= @book.id %>">
						<%= render partial: 'favorites/favorites_button', locals: {book: @book} %>
					</td>
					<td>
						<h6 class="comment-count">コメント数：<%= @book.book_comments.count %></h6>
					</td>
					<td>
						<% if @book.user == current_user %>
							<%= link_to "Edit",edit_book_path(@book), class: "btn-sm btn-success edit_book_#{@book.id}" %>
						<% end %>
					</td>
					<td>
						<% if @book.user == current_user %>
							<%= link_to "Destroy",@book, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %>
						<% end %>
					</td>
				</tr>
			</table>

				<%= form_with(model: [@book, @book_comment]) do |f| %>
					<div class="row">
						<div class="col-xs-12">
							<%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
						</div>
					</div>
					<%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
				<% end %>
				<div class="row" >
					<div class=col-xs-12>
					<h2>コメント一覧</h2>
						<table id="js-table-comment" class="table">
							<thead>
								<tr>
									<th></th>
									<th>コメント</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
							<div >
								<% @book.book_comments.each do |book_comment| %>
									<tr id="comment_index_<%= book_comment.id %>">
										<%= render partial: 'book_comments/comment_index', locals: {book_comment: book_comment} %>
									</tr>
								<% end %>
								</div>
							</tbody>
						</table>
					</div>
				</div>
		</div>
	</div>
</div>

